$defaultTheme: (
  fontFamily: $headingFont,
  backgroundColor: $defaultBackground,
);

$blueTheme: (
  primaryColor: $blue,
  secondaryColor: $black,
  neutralColor: $gray,
  backgroundColor: $white,
  textColor: $black,
  labelColor: $dimmedTextColor,
  iconColor: $black,
  headerBgColor: $black,
  headerFontColor: $white,
  mainNavBgColor: $navBackground,
  mainNavFontColor: $white,
  mainNavIconColor: $white,
  mainNavActiveMenuBgColor: $navActiveMenuBackground,
  mainNavActiveMenuBorderColor: $white,
  mainNavActiveSubmenuBgColor: $navActiveSubmenuBackground,
  primaryBtnBgColor: $buttonBlue,
  primaryBtnTextColor: $white,
  secondaryBtnBgColor: $black,
  secondaryBtnTextColor: $white,
  clearBtnBgColor: $white,
  dangerBtnBgColor: $red,
  inputBgColor: $white,
  inputBorderColor: $inputBorder,
  inputTextColor: $black,
  inputFocusBorderColor: $inputFocusBorder,
  inputErrorBorderColor: $red,
  inputErrorTextColor: $red,
  inputErrorIconColor: $red,
  radioBorderColor: $black,
  radioLabelColor: $black,
  radioSelectedBgColor: $blue,
  radioSelectedBorderColor: $inputFocusBorder,
  checkboxBorderColor: $black,
  checkboxLabelColor: $black,
  checkboxSelectedBgColor: $blue,
  checkboxSelectedBorderColor: $inputFocusBorder,
  fileInputBgColor: $blue,
  fileSelectedBgColor: $fileSelectedBg,
  notificationInfoBorderColor: $notificationInfo,
  notificationInfoBgColor: $notificationBgInfo,
  notificationInfoTitleColor: $notificationInfo,
  notificationInfoTextColor: $black,
  notificationErrorBorderColor: $notificationError,
  notificationErrorBgColor: $notificationBgError,
  notificationErrorTitleColor: $notificationError,
  notificationErrorTextColor: $black,
  notificationWarningBorderColor: $notificationWarning,
  notificationWarningBgColor: $notificationBgWarning,
  notificationWarningTitleColor: $notificationWarning,
  notificationWarningTextColor: $black,
  notificationSuccessBorderColor: $notificationSuccess,
  notificationSuccessBgColor: $notificationBgSuccess,
  notificationSuccessTitleColor: $notificationSuccess,
  notificationSuccessTextColor: $black,
  linkTextColor: $blue,
  linkBorderColor: $blue,
  linkHoverBorderColor: $blue,
  linkFocusBorderColor: $blue,
  linkActiveBorderColor: $linkActiveBorder,
  paginationTextColor: $paginationText,
  paginationBgColor: $white,
  tabBgColor: $white,
  tabBorderColor: $tabBorder,
  tabActiveBorderColor: $buttonBlue,
  tagTextColor: $black,
  tagBgColor: $tabBorder,
  tagIconColor: $tagIcon,
  tagIconHoverBgColor: $tagIconHoverBg,
  tagActiveBorderColor: $inputFocusBorder,
  tooltipBgColor: $tooltipBg,
  tooltipIconFillColor: $iconFillColor,
  navIconFillColor: $navIconFillColor,
  tooltipTextColor: $white,
  dropdownBorderColor: $inputBorder,
  dropdownHoverBgColor: $dropdownHover,
  dropdownFocusBorderColor: $inputFocusBorder,
  dropdownActiveBorderColor: $inputFocusBorder,
  dropdownOptionHoverBgColor: $dropdownHover,
  dropdownOptionFocusBorderColor: $inputFocusBorder,
  dropdownOptionActiveBorderColor: $inputFocusBorder,
  overflowMenuHoverBgColor: $overflowMenuHover,
  overflowMenuItemHoverBgColor: $dropdownHover,
  overflowMenuItemFocusBgColor: $dropdownHover,
  overflowMenuItemFocusBorderColor: $inputFocusBorder,
  progressBarBorderColor: $tabBorder,
  progressBarIconColor: $blue,
  progressBarStatusColor: $blue,
  statusPillProgressBgColor: $statusInProgress,
  statusPillProgressTextColor: $statusInProgressText,
  statusPillStartedBgColor: $statusStarted,
  statusPillStartedTextColor: $statusStartedText,
  statusPillPublishedBgColor: $statusPublished,
  statusPillPublishedTextColor: $statusPublishedText,
  statusPillPendingBgColor: $statusPending,
  statusPillPendingTextColor: $statusPendingText,
  statusPillContactNeededBgColor: $statusContactNeeded,
  statusPillContactNeededTextColor: $statusContactNeededText,
  statusPillRemovedBgColor: $statusRemoved,
  statusPillRemovedTextColor: $statusRemovedText,
  statusPillReturnedBgColor: $statusReturned,
  statusPillReturnedTextColor: $statusReturnedText,
  statusPillReadyForReviewBgColor: $statusReadyForReview,
  statusPillReadyForReviewTextColor: $statusReadyForReviewText,
  statusPillLifecycleUpdatesReviewBgColor: $statusLifecycleUpdatesReview,
  statusPillLifecycleUpdatesReviewTextColor: $statusLifecycleUpdatesReviewText,
  contentSwitcherTabBgColor: $contentSwitcherBg,
  contentSwitcherTabHoverBgColor: $contentSwitcherTabHoverBg,
  contentSwitcherTabSelectedBgColor: $contentSwitcherSelectedTabHoverBg,
  contentSwitcherTabFocusBorderColor: $inputFocusBorder,
  tableHeaderBgColor: $tableHeaderBg,
  tableHeaderTextColor: $black,
  tableRowBgColor: $white,
  tableRowSelectedBgColor: $tableRowSelectedBg,
  tableRowTextColor: $black,
  tableBorderColor: $tabBorder,
  tableRowDimmedText: $dimmedTextColor,
  tableExpandedBg: $tableExpandedBg,
  tableBatchActionBgColor: $black,
  tableBatchActionTextColor: $white,
  badgeDangerBgColor: $red,
  tabProfileBgColor: $tableRowSelectedBg,
  tabActiveProfileBgColor: $tableHeaderBg,
  tabProfileColor: $black,
  statusRelationshipPendingTextColor: $statusPendingText,
  statusRelationshipPendingBgColor: $statusPendingBg,
  statusRelationshipAcceptedTextColor: $statusAcceptedText,
  statusRelationshipAcceptedBgColor: $statusAcceptedBg,
  statusRelationshipDeclinedTextColor: $statusDeclinedText,
  statusRelationshipDeclinedBgColor: $statusDeclinedBg,
  statusRelationshipProfileCompleteTextColor: $statusProfileCompleteText,
  statusRelationshipProfileCompleteBgColor: $statusProfileCompleteBg,
  statusRelationshipReadyForReviewTextColor: $statusReadyForReviewText,
  statusRelationshipReadyForReviewBgColor: $statusReadyForReviewBg,
  statusRelationshipReturnedToSupplierTextColor: $statusReturnedToSupplierText,
  statusRelationshipReturnedToSupplierBgColor: $statusReturnedToSupplierBg,
  statusRelationshipOnboardedTextColor: $statusOnboardedText,
  statusRelationshipOnboardedBgColor: $statusOnboardedBg,
  statusRelationshipLifecycleTextColor: $statusLifecycleText,
  statusRelationshipLifecycleBgColor: $statusLifecycleBg,
);
